<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{:getconf('admin_title')}</title>
    <meta name="renderer" content="webkit">
    <meta name=keywords content="{:getconf('admin_keywords')}">
	<meta name=description content="5月7日至8日，中共中央总书记、国家主席习近平同朝鲜劳动党委员长、国务委员会委员长金正恩在大连举行会晤。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {load href="__ADMIN__/css/font.css" /}
    {load href="__ADMIN__/css/xadmin.css" /}
    {load href="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"/}
    {load href="__ADMIN__/lib/layui/layui.js" charset="utf-8" /}
    {load href="__ADMIN__/js/xadmin.js" /}
  </head>
  <body>

{__CONTENT__}

  </body>
  </html>
