{layout name="layout/layout" /}
        <div class="x-body">
            <fieldset class="layui-elem-field">
              <legend>信息统计</legend>
              <div class="layui-field-box">
                <table class="layui-table" lay-even>
                    <thead>
                        <tr>
                            <th>统计</th>
                            <th>资讯库</th>
                            <th>图片库</th>
                            <th>产品库</th>
                            <th>用户</th>
                            <th>管理员</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>总数</td>
                            <td>92</td>
                            <td>9</td>
                            <td>0</td>
                            <td>8</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
                <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">服务器信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">服务器计算机名</th>
                        <td><span id="lbServerName">{:php_uname()}</span></td>
                    </tr>
                    <tr>
                        <td>服务器IP地址</td>
                        <td>{$_SERVER['SERVER_NAME'].' [ '.gethostbyname($_SERVER['SERVER_NAME']).' ]'}</td>
                    </tr>
                    <tr>
                        <td>服务器端口 </td>
                        <td>{$_SERVER['SERVER_PORT']}</td>
                    </tr>
                    <tr>
                        <td>服务器操作系统 </td>
                        <td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>
                    </tr>
                    <tr>
                        <td>服务器的语言种类 </td>
                        <td>{$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td>
                    </tr>
                    <tr>
                        <td>服务器当前时间 </td>
                        <td>{:date("Y年n月j日 H:i:s",time())}</td>
                    </tr>
                    <tr>
                        <td>浏览器信息 </td>
                        <td>{$_SERVER['HTTP_USER_AGENT']}</td>
                    </tr>
                    <tr>
                        <td>CPU </td>
                        <td>{$_SERVER['SERVER_SOFTWARE']}</td>
                    </tr>
                    <tr>
                        <td>剩余空间</td>
                        <td>{:round((disk_free_space(".")/(1024*1024)),2).'M'}</td>
                    </tr>
                    <tr>
                        <td>当前SessionID </td>
                        <td>{:session_id()}</td>
                    </tr>
                    <tr>
                        <td>当前进程 </td>
                        <td>{:Get_Current_User()}</td>
                    </tr>
                    <tr>
                        <td>用户的IP地址</td>
                        <td>{$_SERVER['REMOTE_ADDR']}</td>
                    </tr>
                </tbody>
            </table>
              </div>
            </fieldset>
        </div>
