{layout name="layout/layout" /}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="{:url('Members/index')}">会员管理</a>
        <a>
          <cite>我的回收站</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so"  action="{:url('Members/recycle')}" method="post">
          <input class="layui-input" placeholder="开始日期" name="start" id="start" value="{:input('post.start')}">
          <input class="layui-input" placeholder="截止日期" name="end" id="end" value="{:input('post.end')}">
          <div class="layui-input-inline">
              <select name="type">
                  <option value="">模糊查询</option>
                  <option value="qq" {if input('type') == 'qq'}selected{/if}>QQ</option>
                  <option value="phone" {if input('type') == 'phone'}selected{/if}>电话</option>
                  <option value="weixin" {if input('type') == 'weixin'}selected{/if}>微信</option>
              </select>
          </div>
          <input type="text" name="keyword"  placeholder="QQ/手机号/微信号/备注" autocomplete="off" class="layui-input" value="{:input('post.keyword')}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach" onclick="changelogo()" id="button">
              <i class="layui-icon" id="logo">&#xe615;</i>
          </button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>微信</th>
            <th>手机</th>
            <th>QQ</th>
            <th>加入时间</th>
            {if $uid != '1'}
            <th>操作</th></tr>
            {/if}
        </thead>
        <tbody>
        {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{$vo.weixin}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.qq}</td>
            <td>{$vo.newtime}</td>
            {if $uid != '1'}
            <td class="td-manage">
                <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                    <button class="layui-btn layui-btn-sm layui-btn-primary">
                        <i class="layui-icon">&#xe640;</i>
                    </button>
                </a>
                <a title="收回" onclick="callback(this,'{$vo.id}')" href="javascript:;">
                    <button class="layui-btn layui-btn-sm layui-btn-primary">
                        <i class="layui-icon">收回</i>
                    </button>
                </a>
            </td>
            {/if}
          </tr>
        {/volist}
        </tbody>
      </table>
      <div class="page">
        <div>
            {$list|raw}
        </div>
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      function changelogo()
      {
          $('#button').addClass('layui-btn-danger');
          $('#logo').html('&#xe63d;');
      }
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                  url:"{:url('Members/delete')}",
                  type:'post',
                  dataType:'json',
                  data: {deleid: id},
                  success:function(msg){
                      if(msg.status == 1)
                      {
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else {
                          layer.msg(msg.error+'禁止操作！', {icon: 1});
                      }
                  },
              });
          });
      }
      function callback(obj,id)
      {
          //发异步删除数据
          $.ajax({
              url:"{:url('Members/renew')}",
              type:'post',
              dataType:'json',
              data: {newid: id},
              success:function(msg){
                  if(msg.status == 1)
                  {
                      $(obj).parents("tr").remove();
                      layer.msg('收回成功!请在您的客户列表查看',{icon:1,time:1000});
                  }else {
                      layer.msg(msg.error+'禁止操作！', {icon: 1});
                  }
              },
          });
      }
  </script>
