{layout name="layout/layout" /}
  <div class="x-nav">
      <span class="layui-breadcrumb">
          <a href="{:url('Index/index')}">首页</a>
          <a href="{:url('Settings/index')}">配置管理</a>
          <a><cite>配置列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body">
      <xblock>
          <button class="layui-btn" onclick="x_admin_show('添加配置','{:url('Settings/add')}')"><i class="layui-icon"></i>添加</button>
          <span class="x-right" style="line-height:40px">共有数据：{$count}条</span>
      </xblock>
      <table class="layui-table">
          <thead>
              <tr>
                  <th>排序</th>
                  <th>ID</th>
                  <th>标题</th>
                  <th>名称</th>
                  <th>内容</th>
                  <th>操作</th>
              </tr>
              </thead>
              <tbody>
                  <form action="" enctype="multipart/form-data" method="post" id="updatecon" >
                      {volist name="data" id="vo"}
                      <tr>
                          <td><input type="text" class="layui-input" style="width:40px;" name="sort_num[]" value="{$vo.sort_num}"></td>
                          <td>{$vo.id}</td>
                          <td>{$vo.title}</td>
                          <td>{$vo.name}</td>
                          <td><input type="hidden" name="id[]" value="{$vo.id}"><?php echo $vo['html'];?></td>
                          <td class="td-manage">
                              {if $vo.is_system eq '1'}
                              <button class="layui-btn layui-btn-radius layui-btn-disabled">
                                  <a title="编辑" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                  </a>
                              </button>
                              <button class="layui-btn layui-btn-radius layui-btn-disabled">
                              <a title="删除" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i>
                              </a>
                              </button>
                              {else/}
                              <a title="编辑"  onclick="x_admin_show('编辑','{:url('Settings/edit',array('pid' => $vo.id))}')" href="javascript:;">
                                  <button class="layui-btn layui-btn-primary">
                                      <i class="layui-icon">&#xe642;</i>
                                  </button>
                              </a>
                              <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                                  <button class="layui-btn layui-btn-primary">
                                      <i class="layui-icon">&#xe640;</i>
                                  </button>
                              </a>
                              {/if}
                          </td>
                      </tr>
                      {/volist}
                  </form>
              </tbody>
          </table>
          <button class="layui-btn" class="layui-btn" onclick="hitUpdate()"><i class="layui-icon">ဂ</i>全部更新</button>
      </div>
  <script>
  /*用户-删除*/
  function member_del(obj,id){
      layer.confirm('确认要删除吗？',function(index){
          //发异步删除数据
          $.ajax({
              url:"{:url('Settings/delete')}",
              type:'post',
              dataType:'json',
              data: {pid:id},
              success:function(msg){
                  if(msg.status == 1){
                      $(obj).parents("tr").remove();
                      layer.msg(msg.info,{icon:1,time:1000});
                  }else {
                      layer.msg(msg.info,{icon:1,time:1000});
                  }
              }
          });
      });
  }
  function hitUpdate(){
      var sort = $("input[name='sort_num[]']");
      var ids = $("input[name='id[]']");
      var contents = $("input[name='content[]']");
      var data = {
          id : returnArray(ids),
          sort_num : returnArray(sort),
          content : returnArray(contents),
      }
      $.ajax({
  		type: 'post',
  		url: '{:url("Settings/updateContent")}',
  		dataType: 'json',
  		data:data,
  		success: function(msg){
  		    if(msg.status == '1'){
                layer.msg('更新成功！', {time: 2000});
            }
  		},
  	});
  }

  function returnArray(sort){
      var sort_num = [];
      for(var i = 0, j = sort.length; i < j; i++){
          sort_num.push(sort[i].value);
      }
      return sort_num;
  }
  </script>
