{layout name="layout/layout" /}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('Index/index')}">首页</a>
        <a href="{:url('Logs/index')}">日志管理</a>
        <a>
          <cite>日志列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so"  action="{:url('Logs/index')}" method="post">
          <input class="layui-input" placeholder="开始日期" name="start" id="start" value="{:input('post.start')}">
          <input class="layui-input" placeholder="截止日期" name="end" id="end" value="{:input('post.end')}">
              <div class="layui-input-inline">
                  <select name="aid">
                      <option value="">所有行为</option>
                      <optgroup label="快捷操作">
                          <option value="11" {if input('post.aid') == '11'}selected{/if}>普通日志</option>
                          <option value="10" {if input('post.aid') == '10'}selected{/if}>导入日志</option>
                          <option value="all" {if input('post.aid') == 'all'}selected{/if}>所有日志（慎用！）</option>
                      </optgroup>
                      <optgroup label="------------------">
                          {volist name="acts" id="vo"}
                          <option value="{$vo.id}" {if input('post.aid') == $vo.id}selected{/if} >{$vo.act_name}</option>
                          {/volist}
                      </optgroup>
                  </select>
              </div>
          <input  id="keyword" type="text" name="keyword"  placeholder="导入关键字" autocomplete="off" class="layui-input" value="{:input('post.keyword')}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach" onclick="changelogo()" id="button"><i class="layui-icon" id="logo">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>销　　售</th>
            <th>操作行为</th>
            <th>Q　　Q</th>
            <th>微　　信</th>
            <th>电 话 号</th>
            <th>备　　注</th>
            <th>操作时间</th>
            <th>查看详情</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.users}</td>
            <th>{$vo.act_name}</th>
            <td>{$vo.qq}</td>
            <td>{$vo.weixin}</td>
            <td>{$vo.phone}</td>
            {if $vo.k == '1'}
            <td>......{$vo.note|msubstr=($vo.position-12),($vo.lenght+1),'utf-8',false}<span style="color:green;font-size:25px;">{$vo.note|msubstr=($vo.position),($vo.lenght),'utf-8',false}</span>{$vo.note|msubstr=($vo.position+$vo.lenght),($vo.lenght+10),'utf-8',false}......</td>
            {else/}
            <td>{$vo.note|msubstr=0,40,'utf-8',false}</td>
            {/if}
            <td style="display:none;" id="note_{$vo.id}">{$vo.note}</td>
            <td>{$vo.newtime}</td>
            <td onclick="getinfo({$vo.id})">详情</td>
          </tr>
        {/volist}
        </tbody>
      </table>
      <div class="page">
        <div>
            {$list|raw}
        </div>
      </div>
    </div>
    <script>
    layui.use(['laydate','form','layer'], function(){
        var form = layui.form
        ,laydate = layui.laydate
        ,layer = layui.layer;
        laydate.render({
            elem: '#start' //指定元素
        });
        laydate.render({
            elem: '#end' //指定元素
        });
    });
    // 提取信息
    function getinfo(id){
        //发异步删除数据
        $.ajax({
            url:"{:url('Logs/extractDetail')}",
            type:'post',
            dataType:'json',
            data: {logid: id},
            success:function(msg){
                if(msg.status == 1){
                    var x = '#note_'+id;
                    var text = $(x).text();
                    var info = msg.data;
                    html = '';
                    html = "<table width='100%' border='1'><tr><th>操作IP</th><th>"+info['ip']+"</th></tr><tr><td>操作时间</td><td>"+info['newtime']+"</td></tr><tr><td>QQ</td><td>"+info['qq']+"</td></tr><tr><td>微信号</td><td>"+info['weixin']+"</td></tr><tr><td>手机号</td><td>"+info['phone']+"</td></tr><tr><td colspan='2'>备注</td></tr><tr><td colspan='2'>"+text+"</td></tr></table>";
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: ['300px', '360px']
                        ,shade: 0.8
                        ,id: 'itarvin' //设定一个id，防止重复弹出
                        ,btn: ['关闭']
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<div style="padding: 40px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;word-wrap:break-word; text-align:center;">'+html+'</div>'
                        ,success: function(layero){
                        }
                    });
                }
            },
        });
    }
    function changelogo(){
        $('#button').addClass('layui-btn-danger');
        $('#logo').html('&#xe63d;');
    }
    window.onload=function(){
        gettime();
    }
    function gettime(){
        var myDate = new Date();//获取系统当前时间
        var year = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var month = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var day = myDate.getDate(); //获取当前日(1-31)
        var now = year+'-'+month+'-'+day;
        var hasvalue = $('#start').val();
        if(!hasvalue){
            $('#start').val(now);
        }
    }
  </script>
