{layout name="layout/layout" /}
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>角色名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="role_name" value="{$data.role_name}" required="" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>
          <input type="hidden" name="id" value="{$data.id}" >
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>角色状态
              </label>
              <div class="layui-input-inline">
                  <input type="radio" name="role_status" value="0" {if $data['role_status'] eq '0'}checked{/if} title="启用" >
                  <input type="radio" name="role_status" {if $data['role_status'] eq '1'}checked{/if}  value="1" title="禁用" >
              </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>角色描述
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" class="layui-textarea" name="role_desc">{$data.role_desc}</textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>权限列表
              </label>
              <div class="layui-input-block">
                  <td>
					{volist name="priData" id="vo"}
						{:str_repeat('-', 16*$vo['level'])}
						<input level_id="{$vo['level']}" type="checkbox" id="che_{$vo.id}" name="pri_id[{$vo.id}]" value="{$vo['id']}" {if in_array($vo['id'],$rpData)}checked{/if} lay-filter="encrypt"/>
						<label for="che_{$vo.id}">{$vo['pri_name']}</label><br />
					{/volist}

                </td>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  更新
              </button>
          </div>
      </form>
    </div>
    <script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
        //自定义验证规则
        form.verify({
            weixin: function(value){
                var reg=/^[a-zA-Z\d_]{5,20}$/;
                if(value.length < 6 || value.length > 20){
                    return '微信号必须6到20位';
                }
                if (!reg.test(value)) {
                    return '微信号格式不正确！';
                }
            }
        });
        //监听提交
        form.on('submit(add)', function(data){
            //发异步，把数据提交给php
            $.post("{:url('Roles/add')}",data.field,function(res){
    			if(res.status == 1){
                    layer.alert("更新成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
    				layer.msg(res.info, {time: 2000});
    			}
            },'json');
            return false;
        });
        // 为所有的复选框绑定一个点击事件
        form.on('checkbox(encrypt)', function(data){
            // 先获取点击的这个level_id
            var tmp_level_id = level_id =  $(this).attr("level_id");
            if (data.elem.checked) {
                 // 所有的子权限也选中
                 $(this).nextAll(":checkbox").each(function(k,v){
                     if($(v).attr("level_id") > level_id){
                         $(v).attr('checked', true);
                         form.render();
                     }else {
                         return false;
                     }
                 });
                 // 所有的上级权限也选中
                 $(this).prevAll(":checkbox").each(function(k,v){
                     if($(v).attr("level_id") < tmp_level_id)
                     {
                         $(v).attr('checked', true);
                         form.render();
                         tmp_level_id--; // 再找更上一级的
                     }
                 });
             }else {
                 // 所有的子权限也取消
                 $(this).nextAll(":checkbox").each(function(k,v){
                     if($(v).attr("level_id") > level_id){
                         $(v).removeAttr('checked');
                         form.render();
                     }else {
                         return false;
                     }
                 });
             }
         });
    });
    </script>
