{layout name="layout/layout" /}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
            <cite>导航元素</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <div class="layui-row">
                <form class="layui-form layui-col-md12 x-so">
                    <input type="text" name="role_name"  placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </form>
            </div>
            <xblock>
                <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                <button class="layui-btn" onclick="x_admin_show('添加角色','{:url('Roles/add')}')"><i class="layui-icon"></i>添加</button>
                <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                        </th>
                        <th>ID</th>
                        <th>角色名</th>
                        <!-- <th>拥有权限规则</th> -->
                        <th>描述</th>
                        <th>状态</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        {volist name='data' id="vo"}
                        {if $vo.id neq null}
                        <tr>
                            <td>
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                            </td>
                            <td>{$vo.id}</td>
                            <td>{$vo.role_name}</td>
                            <!-- <td>{$vo.pri_name}</td> -->
                            <td>{$vo.role_desc}</td>
                            <td class="td-status">
                                {if $vo['role_status'] eq '0'}
                                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
                                {elseif $vo['role_status'] eq '1'/}
                                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>
                                {/if}
                            <td class="td-manage">
                                {if $vo['role_status'] eq '0'}
                                <a onclick="member_stop(this,{$vo.id})" href="javascript:;"  title="停用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                {elseif $vo['role_status'] eq '1'/}
                                <a onclick="member_stop(this,{$vo.id})" href="javascript:;"  title="启用">
                                    <i class="layui-icon">&#xe62f;</i>
                                </a>
                                {/if}

                                <a title="编辑"  onclick="x_admin_show('编辑','{:url('Roles/edit',array('rid' => $vo.id))}')" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" onclick="member_del(this,{$vo.id})" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        {/if}
                        {/volist}
                    </tbody>
                </table>
                <div class="page">
                    <div>
                        {$pages}
                    </div>
                </div>
            </div>
<script>
layui.use('laydate', function(){
    var laydate = layui.laydate;
    //执行一个laydate实例
    laydate.render({
        elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
        elem: '#end' //指定元素
    });
});

/*用户-停用*/
function member_stop(obj,id){
    var title = $(obj).attr('title');
    layer.confirm('确认要'+title+'吗？',function(index){
        $.ajax({
            url:"{:url('Roles/changeStatus')}",
            type:'post',
            dataType:'json',
            data: {rid:id},
            success:function(msg){
                if(msg.status == 1){
                    if(title == '启用'){
                        $(obj).attr('title','停用')
                        $(obj).find('i').html('&#xe62f;');
                        $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                        layer.msg('已'+title+'!',{icon: 1,time:1000});
                    }else {
                        $(obj).attr('title','启用');
                        $(obj).find('i').html('&#xe601;');
                        $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                        layer.msg('已'+title+'!',{icon: 1,time:1000});
                    }
                }else {
                    layer.msg(msg.info,{icon:1,time:1000});
                }
            }
        });
    });
}

/*用户-删除*/
function member_del(obj,id){
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            url:"{:url('Roles/delete')}",
            type:'post',
            dataType:'json',
            data: {rid:id},
            success:function(msg){
                if(msg.status == 1){
                    $(obj).parents("tr").remove();
                    layer.msg(msg.info,{icon:1,time:1000});
                }else {
                    layer.msg(msg.info,{icon:1,time:1000});
                }
            }
        });
     });
 }

function delAll (argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？'+data,function(index){
        //捉到所有被选中的，发异步进行删除
        layer.msg('删除成功', {icon: 1});
        $(".layui-form-checked").not('.header').parents('tr').remove();
    });
 }
</script>
