<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {load href="__ADMIN__/css/font.css" /}
    {load href="__ADMIN__/css/xadmin.css" /}
    {load href="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"/}
    {load href="__ADMIN__/lib/layui/layui.js" charset="utf-8" /}
    {load href="__ADMIN__/js/xadmin.js" /}
  </head>

  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="{:url('member/index')}">会员管理</a>
        <a>
          <cite>会员列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so"  action="{:url('Member/recycle')}" method="post">
          <input class="layui-input" placeholder="开始日期" name="start" id="start" value="{:input('post.start')}">
          <input class="layui-input" placeholder="截止日期" name="end" id="end" value="{:input('post.end')}">
          <div class="layui-input-inline">
              <select name="type">
                  <option value="">模糊查询</option>
                  <option value="qq" {if input('type') == 'qq'}selected{/if}>QQ</option>
                  <option value="phone" {if input('type') == 'phone'}selected{/if}>电话</option>
                  <option value="weixin" {if input('type') == 'weixin'}selected{/if}>微信</option>
              </select>
          </div>
          <input type="text" name="keyword"  placeholder="QQ/手机号/微信号/备注" autocomplete="off" class="layui-input" value="{:input('post.keyword')}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>微信</th>
            <th>手机</th>
            <th>QQ</th>
            <th>加入时间</th>
            {if $uid != '1'}
            <th>操作</th></tr>
            {/if}
        </thead>
        <tbody>
        {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{$vo.weixin}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.qq}</td>
            <td>{$vo.newtime}</td>
            {if $uid != '1'}
            <td class="td-manage">
              <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
            {/if}
          </tr>
        {/volist}
        </tbody>
      </table>
      <div class="page">
        <div>
            {$list|raw}
        </div>
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                  url:"{:url('Member/delete')}",
                  type:'post',
                  dataType:'json',
                  data: {deleid: id},
                  success:function(msg){
                      if(msg.status == 1)
                      {
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else {
                          layer.msg(msg.error+'禁止操作！', {icon: 1});
                      }
                  },
              });

          });
      }
  </script>
</body>

</html>
