{layout name="layout/layout" /}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('Index/index')}">首页</a>
        <a href="{:url('Admin/index')}">销售管理</a>
        <a><cite>添加订单</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form action="{:url('Records/record')}" method="post">
            <table class="layui-table">
                <thead>
                    <tr>
                        <!-- 改了，也没影响 -->
                        <th>客户名称(勿修改)</th>
                        <th>销售(勿修改)</th>
                        <th>产品名称</th>
                        <th>价格</th>
                        <th>备注</th>
                        <th>操作</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" value="{$data['username']}" class="layui-input"　disabled="disabled" style="background:#CCCCCC"></td>
                        <td><input type="text" value="{$data['users']}" class="layui-input" 　disabled="disabled" style="background:#CCCCCC"></td>
                        <input type="hidden" value="{$khid}" name="khid" >
                        <td><input type="text" name="product[]" required="" autocomplete="off" class="layui-input"></td>

                        <td><input type="text" name="price[]" required=""  autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.\/]/ig,'')"/></td>

                        <td><input type="text" name="note[]" required=""  autocomplete="on" class="layui-input" list="in"></td>
                        <datalist id="in">
                            <option>本人</option>
                            <option>父亲</option>
                            <option>母亲</option>
                            <option>子女</option>
                            <option>爱人</option>
                            <option>亲人</option>
                            <option>朋友</option>
                            <option>上司</option>
                        </datalist>
                        <td><input onclick="addNewTr(this);" class="layui-btn layui-btn-normal" type="button" value="+" /></td>
                    </tr>
                    <tr id="submit" class="text-c">
                        <td align="center"  colspan="6"><button class="layui-btn layui-btn-fluid">提交</button></td>
                    </tr>
              </tbody>
          </table>
      </from>
  </div>
  <script>
      function addNewTr(btn)
      {
      	var tr = $(btn).parent().parent();
        var val = $(btn).val();
      	if($(btn).val() == "+")
      	{
      		var newTr = tr.clone();
      		newTr.find(":button").val("-");
      		$("#submit").before(newTr);
      	}
      	else
      		tr.remove();
      }
  </script>
